{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "import-helpers"
  ],
  "rules": {
    "default-case": "off",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "error",
    "import/order": "off",
    "import-helpers/order-imports": [
      "warn",
      {
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-continue": "off",
    "no-param-reassign": "off",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-restricted-syntax": "off",
    "no-unused-expressions": [
      "off",
      {
        "allowShortCircuit": true
      }
    ],
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "one-var": [
      "error",
      {
        "uninitialized": "consecutive"
      }
    ],
    "prefer-destructuring": "error",
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.mts", "*.cts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/consistent-type-assertions": [
          "error",
          {
            "assertionStyle": "as",
            "objectLiteralTypeAssertions": "never"
          }
        ] 
      }
    }
  ]
}